
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

body {
  background: #0F0B19;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}


.nav {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  background: transparent;
  height: 4.2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
}

.nav li {
  font-size: 2rem;
  margin-left: -80px;
  position: relative;
  transition: border-top .5s cubic-bezier(.3, .5, .3. 1);
}

.nav li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #A33ACB;
  transition: 0.4s;
}

.nav li:hover:after {
  width: 100%;
}

.active {
  border-top: 2px solid #A33ACB;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}


.home-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#git {
  font-family: 'Roboto', serif;
  color: white;
  font-weight: 100;
  font-size: 6rem;
}

#battle {
  font-family: 'Permanent Marker', cursive;
  font-size: 8rem;
  color: #A33ACB;

}


.intro {
  font-size: 1.4rem;
  color: white;
  text-align: center;
}


.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  cursor: pointer;
  transition: all .3s cubic-bezier(.3, .5, .8, 1);
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.button {
  color: white;
  background: #4717F6;
  padding: 1% 6%;
  font-size: 1.8rem;
  font-family: 'Permanent Marker', cursive;
}

.row {
  display: flex;
  margin-top: 25%;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid black;
  font-size: 16px;
  width: 80%;
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}
