
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  font-family: helvetica;
  background: #1C343F;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}


.nav {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0px -5px 4px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -5px 4px -1px rgba(0,0,0,0.75);
  box-shadow: inset 0px -5px 4px -1px rgba(0,0,0,0.75);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Permanent Marker', cursive;;
}

.nav li {
  font-size: 2rem;
  margin-left: -80px;
  position: relative;
  transition: border-top .5s cubic-bezier(.3, .5, .3. 1);
}

.nav li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #b0021b;
  transition: 0.4s;
}

.nav li:hover:after {
  width: 100%;
}

.active {
  border-top: 2px solid #b0021b;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #b0021b;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  cursor: pointer;
  transition: all .3s cubic-bezier(.3, .5, .8, 1);
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: white;
  background: black;
  padding: 10px;
}

.row {
  display: flex;
  margin-top: 25%;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid black;
  font-size: 16px;
  width: 80%;
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}
